﻿

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

</head>
<body>
    <div id="Container">
        <table class="table table-bordered" id="produto">
            <thead class="th">
                <tr>
                    <th> Nome </th>
                    <th> Marca </th>
                    <th> Codigo de Barra </th>
                    <th> Valor Entrada </th>
                    <th> Valor Venda </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>
                        <button class="btn btn-info">Editar</button>
                        <button class="btn btn-danger">Excluir</button>
                    </td>
                </tr><tr>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>
                        <button class="btn btn-info">Editar</button>
                        <button class="btn btn-danger">Excluir</button>
                    </td>
                </tr><tr>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>
                        <button class="btn btn-info">Editar</button>
                        <button class="btn btn-danger">Excluir</button>
                    </td>
                </tr><tr>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>
                        <button class="btn btn-info">Editar</button>
                        <button class="btn btn-danger">Excluir</button>
                    </td>
                </tr><tr>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>
                        <button class="btn btn-info">Editar</button>
                        <button class="btn btn-danger">Excluir</button>
                    </td>
                </tr><tr>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>
                        <button class="btn btn-info">Editar</button>
                        <button class="btn btn-danger">Excluir</button>
                    </td>
                </tr><tr>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>
                        <button class="btn btn-info">Editar</button>
                        <button class="btn btn-danger">Excluir</button>
                    </td>
                </tr><tr>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>
                        <button class="btn btn-info">Editar</button>
                        <button class="btn btn-danger">Excluir</button>
                    </td>
                </tr><tr>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>asdasd </td>
                    <td>
                        <button class="btn btn-info">Editar</button>
                        <button class="btn btn-danger">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-success" data-toggle="modal" data-target="#cadastroProduto"> Novo produto </button>
            </div>
        </div>
        
    </div>
        <div class="modal" tabindex="-1" role="dialog" id="cadastroProduto">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/HomeController/CadastrarProduto" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label> Nome Produto: </label>
                                <input type="text" name="nomeProduto" required class="form-control" />
                            </div>
                            <div class="form-group">
                                <label> Marca do Produto: </label>
                                <input type="text" name="marca" required class="form-control" />
                            </div>
                            <div class="form-group">
                                <label> Codigo de barra: </label>
                                <input type="text" name="codigoBarra" required class="form-control" />
                            </div>
                            <div class="form-group">
                                <label> Valor de Compra: </label>
                                <input type="text" name="valorEntrada" required class="form-control" />
                            </div>
                            <div class="form-group">
                                <label> Valor de venda: </label>
                                <input type="text" name="valorVenda" required class="form-control" />
                            </div>
                            <div class="form-group">
                                <label> Quantidade: </label>
                                <input type="text" name="estoque" required class="form-control" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

    <script>
        $('#produto').DataTable({
            "language" : {
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            }
            });
    </script>
</body>
</html>
